<a href="https://colab.research.google.com/github/aravindhtech/aravindhtech/blob/main/python_cheat_sheet.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("how are you") 
#anything to print should be inside paranthesis()

how are you

In [ ]:
msg1 = "hellooooo"
print(msg1)
#store string in variable (msg1) and use that variable to point string

hellooooo

In [ ]:
msg1 = "hi"
msg2 = "arav"
print(msg1+msg2)
#lets concatenate two string while printing

hiarav

In [ ]:
False==(9>0) 
#condition will be checking

False

In [ ]:
True==(9<0)
#condition will be checking

False

In [ ]:
x,y = 7,5 #using logical operators: and , or , not
print(2 > 3 and x < 10) #Returns True if both statements are true
print(x > 8 or y < 9) #Returns True if one of the statements is true
print(not(x > 3)) #Reverse the result, returns True if the result is false

False
True
False

In [ ]:
msg1 ='beast'# Using for loop
for letter in msg1:
  print(letter)
  if letter=='a' or letter =='t':
    break

  print("out of for loop")
  print()

b
out of for loop

e
out of for loop

a

In [ ]:
for letter in 'peace':     # Finishes current loop iteration
   if letter == 'c':
      continue
   print ('Current Letter :', letter)

Current Letter : p
Current Letter : e
Current Letter : a
Current Letter : e

In [ ]:
msg1=4
msg2=4
print(msg1+msg2)
print(msg1-msg2)
print(msg1*msg2)
print(msg1%msg2)
#to using arithmetic operation

8
0
16
0

In [ ]:
a=b=c=4
print(b)
#assign same value to multiple variable

4

In [ ]:
a,b,c=22,33,44
print(b,c)
#assign different values to multiple variable in single line

33 44

In [ ]:
price = 10  #Conditional program execution:if , elif , else

if price > 100:
    print("price is greater than 100")
elif price == 100:
    print("price is 100")
elif price < 100:
    print("price is less than 100")

    print('Tata!!!')

price is less than 100
Tata!!

In [ ]:
for char in 'ARAVINDHAN':
    print (char)
    #For Loop with String

A
R
A
V
I
N
D
H
A
N

In [ ]:
variables = { 1:'One', 2: 'Two', 3: 'Three'}

for msg1,msg2 in variables.items():
    print("key = ", msg1 , ", value =", msg2)
    #for loop with dictionary

key =  1 , value = One
key =  2 , value = Two
key =  3 , value = Three

In [ ]:
num =5 #to using while condition

while num < 7:
    num = num + 1
    print('num = ', num)

num =  6
num =  7

In [ ]:
num = 1 #to using continue in while loop

while num < 5:
	num += 1   # num += 1 is same as num = num + 1
	if num > 3: # condition before exiting a loop
		continue
	print('num = ', num)

num =  2
num =  3

In [ ]:
#Accessing string characters in Python
str = 'INTERNSHIP'
print('str = ', str)

#first character
print('str[0] = ', str[0])

#last character
print('str[-1] = ', str[-1])

#slicing 2nd to 5th character
print('str[1:5] = ', str[1:5])

#slicing 6th to 2nd last character
print('str[5:-2] = ', str[5:-2])

str =  INTERNSHIP
str[0] =  I
str[-1] =  P
str[1:5] =  NTER
str[5:-2] =  NSH

In [ ]:
subject = ['maths', 'science', 'social', 'history']
subject.remove('social')
print("Updated List: ",subject)
subject.remove('science')
print("Updated List: ",subject)
#Removing an element

Updated List:  ['maths', 'science', 'history']
Updated List:  ['maths', 'history']

In [ ]:
name = ['arav', 'ashok', 'suriya', 'karthi', 'deepan']
print("Original List: ",name)

name.reverse()
print("Reversed List: ", name)
#to reverse the char in list

Original List:  ['arav', 'ashok', 'suriya', 'karthi', 'deepan']
Reversed List:  ['deepan', 'karthi', 'suriya', 'ashok', 'arav']

In [ ]:
msg1 = ['a','d','e','c','b']
msg1.sort(reverse=True)
print('List in Descending Order: ',msg1)

msg1.sort()
print('List in Ascending Order: ',msg1)
#to sort the char in list

List in Descending Order:  ['e', 'd', 'c', 'b', 'a']
List in Ascending Order:  ['a', 'b', 'c', 'd', 'e']

In [ ]:
veg = ['potato', 'onion', 'tomoto', 'carrot']
veg.insert(0, 'brinjal') # inserts at 0 index (first element)
print(veg)

veg.insert(2, 'cucumber') # inserts at 2nd index
print(veg)
#to adding the element in this list

['brinjal', 'potato', 'onion', 'tomoto', 'carrot']
['brinjal', 'potato', 'cucumber', 'onion', 'tomoto', 'carrot']

In [ ]:
tpl=() # empty tuple
print(tpl)

names = ('Jeff', 'Bill', 'Steve', 'Yash') # string tuple
print(names)

nums = (1, 2, 3, 4, 5) # int tuple
print(nums)

employee=(1, 'Steve', True, 25, 12000)  # heterogeneous data tuple
print(employee)

()
('Jeff', 'Bill', 'Steve', 'Yash')
(1, 2, 3, 4, 5)
(1, 'Steve', True, 25, 12000)

In [ ]:
# set of integers
my_set = {1, 2, 3}
print(my_set)

# set of mixed datatypes
my_set = {1.0, "Hello", (1, 2, 3)}
print(my_set)

{1, 2, 3}
{1.0, 'Hello', (1, 2, 3)}

In [ ]:
# initialize my_set
my_set = {1, 3}
print(my_set)

# add an element
my_set.add(2)
print(my_set)

# add multiple elements
my_set.update([2, 4, 9])
print(my_set)

# add list and set
my_set.update([4, 5], {1, 6, 8})
print(my_set)

{1, 3}
{1, 2, 3}
{1, 2, 3, 4, 9}
{1, 2, 3, 4, 5, 6, 8, 9}

In [ ]:
# empty dictionary
my_dict = {}

# dictionary with integer keys
my_dict = {1: 'apple', 2: 'ball'}
print(my_dict)

# dictionary with mixed keys
my_dict = {'name': 'John', 1: [2, 4, 3]}
print(my_dict)

# using dict()
my_dict = dict({1:'apple', 2:'ball'})
print(my_dict)

# from sequence having each item as a pair
my_dict = dict([(1,'apple'), (2,'ball')])
print(my_dict)

{1: 'apple', 2: 'ball'}
{'name': 'John', 1: [2, 4, 3]}
{1: 'apple', 2: 'ball'}
{1: 'apple', 2: 'ball'}

In [ ]:
# Changing and adding Dictionary Elements
my_dict = {'name': 'Jack', 'age': 26}

# update value
my_dict['age'] = 27
print(my_dict)

# add item
my_dict['address'] = 'Downtown'
print(my_dict)

{'name': 'Jack', 'age': 27}
{'name': 'Jack', 'age': 27, 'address': 'Downtown'}

In [ ]:
class Person:
    "This is a person class"
    age = 10

    def greet(self):
        print('Hello')

print(Person.age)

print(Person.greet)

print(Person.__doc__)

10
<function Person.greet at 0x7fe2dc8e3e60>
This is a person class

In [ ]:
sum = lambda x, y, z : x + y + z #lambda Function with no name (anonymous function)
sum(5, 10, 15)

30

In [ ]:
def factorial(x):
    """This is a recursive function
    to find the factorial of an integer"""

    if x == 1:
        return 1
    else:
        return (x * factorial(x-1))


num = 3
print("The factorial of", num, "is", factorial(num))

The factorial of 3 is 6

In [ ]:
# Python program to illustrate functions
# can return another function
 
def create_adder(x):
    def adder(y):
        return x + y
 
    return adder
 
add_15 = create_adder(15)
 
print("The result is", add_15(10))
 
# Returning different function
def outer(x):
    return x * 10
 
def my_func():
     
    # returning different function
    return outer
 
# storing the function in res
res = my_func()
 
print("\nThe result is:", res(10))

The result is 25

The result is: 100

In [ ]:
# This function returns a list
def fun():
    str = "internship"
    x = 20  
    return [str, x];  
   
# Driver code to test above method
list = fun() 
print(list)

['internship', 20]

In [ ]:
x, y = 3 , 2
print(x + y)  
print(x - y)  
print(x * y) 
print(x / y) 
print(x // y) 
print(x % y) 
print(-x) 
print(abs(-x)) 
#arithnetic operation

5
1
6
1.5
1
1
-3
3

In [ ]:
val1 = 2
val2 = 3

# using the addition operator
res = val1 + val2
print(res)


# using the subtraction operator
res = val1 - val2
print(res)


# using the multiplication operator
res = val1 * val2
print(res)


# using the division operator
res = val1 / val2
print(res)


# using the modulus operator
res = val1 % val2
print(res)


# using the exponentiation operator
res = val1 ** val2
print(res)


# using the floor division
res = val1 // val2
print(res)

5
-1
6
0.6666666666666666
2
8
0

In [ ]:
x = None

if x:
  print("Do you think None is True?")
elif x is False:
  print ("Do you think None is False?")
else:
  print("None is not True, or False, None is just None...")

None is not True, or False, None is just None...

In [ ]:
name = [ "Manjeet", "Nikhil", "Shambhavi", "Astha" ]
roll_no = [ 4, 1, 3, 2 ]
 
# using zip() to map values
mapped = zip(name, roll_no)
 
print(set(mapped))

{('Astha', 2), ('Manjeet', 4), ('Nikhil', 1), ('Shambhavi', 3)}